<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        The cancer mortality rate classification project aims to analyze and classify the mortality rates associated with different types of cancer. The project focuses on understanding the patterns and trends in cancer-related deaths and categorizing them based on various factors such as demographics, geographic location, cancer type, and time period.
      </p>
      <br>
      <p> The project typically involves the following steps:</p>
      <ul>
        <li>
          <i class="bi bi-check"></i> Data Collection
        </li>
        <li>
          <i class="bi bi-check"></i> Data preprocession
        </li>
        <li>
          <i class="bi bi-check"></i>Feature selection and engineering
        </li>
        <li>
          <i class="bi bi-check"></i> Model selection and training
        </li>
        <li>
          <i class="bi bi-check"></i> Model evalution 
        </li>
        <li>
          <i class="bi bi-check"></i> Interpretation and insights
        </li>
        <li>
          <i class="bi bi-check"></i> Visualization and reporting
        </li>
      </ul>
</body>
</html>
